body{
    background-color:  #ffcadc;
 justify-items:center;
     text-align: center;
}
.s{
     margin-bottom: 0;
    margin: 75px;
    justify-content: center;
    display: block;
    display: flex;
    width: 360px;
    background-color: white;
    padding: 10px;
    padding-bottom: 75px;
    border: solid;
    margin-top: 75px;
}
p{
    width: 387px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    text-align: start;
    margin: 0;
}
button{

      background-image: url(button\ back\ 2.jpg);
  background-size: 100%;
margin: 10px;
font-size: 1.5rem;
width: 200px;
border-style: solid;
cursor: pointer;
height: 75px;
border-radius: 12.5px;
border-color: pink;
box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
    
}
.f{
    margin: 30px;
}
  .card {
    width: 400px;
    height: 500px;
    perspective: 1000px;
  }

  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
 
  }
  .flip {
    transform: rotateY(180deg);
  }

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
  }

  .card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }

  .card-back {
    direction: rtl;
    text-align: start;
    background-color: white;
    transform: rotateY(180deg);
    display: flex;
    width: 360px;
    padding: 15px;
    font-size: 16px;
  }
.back{
    display: block;

}


